.container {
    min-width: 100%;
    min-height: 100%;
    padding: 32px 32px 24px 32px;
    color: var(--text-secondary);
    font-size: 14px;
}

.tabs {
    margin-bottom: 28px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: unset;
    scrollbar-width: none;
    white-space: nowrap;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.button {
    margin-right: 10px;
}
